<p-dataTable [value]="employeeList">
  <p-header>
      <div>
          <button type="button" pButton icon="fa fa-plus" (click)="addEmployee()"></button>
          &nbsp; Add Employee
      </div>
  </p-header>
  <p-column>
      <ng-template pTemplate type="body" let-Employee="rowData">
          <button type="button" pButton icon="fa fa-pencil" (click)="editEmployee(Employee)"></button>
          <button type="button" pButton icon="fa fa-trash" (click)="deleteEmployee(Employee)"></button>
      </ng-template>
  </p-column>
  <p-column field="employeeID" header="Employee ID"></p-column>
  <p-column field="firstName" header="First Name"></p-column>
  <p-column field="lastName" header="Last Name"></p-column>
  <p-column field="title" header="Title"></p-column>
  <p-column field="titleOfCourtesy" header="Title of Courtesy"></p-column>
  <p-column field="birthDate" header="Birth date"></p-column>
  <p-column field="hireDate" header="Hire Date"></p-column>
  <p-column field="address" header="Address"></p-column>
  <p-column field="city" header="City"></p-column>
  <p-column field="region" header="Region"></p-column>
  <p-column field="postalCode" header="Postal Code"></p-column>
  <p-column field="country" header="Country"></p-column>
  <p-column field="homePhone" header="Home Phone"></p-column>
  <p-column field="extension" header="Extension"></p-column>
  <p-column field="photo" header="Photo"></p-column>
  <p-column field="notes" header="Notes"></p-column>
  <p-column field="reportsTo" header="Report to"></p-column>
  
</p-dataTable>

<form [formGroup] = "employeeForm">
  <p-dialog header="Employee" [(visible)]="selectEmployee" *ngIf="selectEmployee">
      <div class="ui-g-12 ui-md-12 ui-fluid">


          <label>First Name</label>
          <input pInputText id="input-firstName" formControlName="firstName" placeholder="Enter First Name" [(ngModel)]="selectEmployee.firstName">
         
          <br/>

          <label>Last Name</label>
          <input pInputText id="input-lastName" formControlName="lastName" placeholder="Enter Last Name" [(ngModel)]="selectEmployee.lastName">
         
          <br/>

          <label>Title</label>
          <input pInputText id="input-title" formControlName="title" placeholder="Enter Title" [(ngModel)]="selectEmployee.title">
         
          <br/>

          <label>Title of Courtesy</label>
          <input pInputText id="input-titleOfCourtesy" formControlName="titleOfCourtesy" placeholder="Enter Title of Courtesy" [(ngModel)]="selectEmployee.titleOfCourtesy">
         
          <br/>
<!-- 
          <label>Birth date</label>
          <input pInputText id="input-birthDate" formControlName="birthDate" placeholder="Enter Birth Date" [(ngModel)]="selectEmployee.birthDate">
         
          <br/>

          <label>Hire Date</label>
          <input pInputText id="input-hireDate" formControlName="hireDate" placeholder="Enter Hire Date" [(ngModel)]="selectEmployee.hireDate">
         
          <br/>
     
          <label for="input-birthDate">Birth date</label>
          <div class="ui-g-12 ui-md-4">
              <p-calendar [(ng-model)]="birthDate" [minDate]="minDate" formControlName="birthDate" readonlyInput="true"> </p-calendar>
          </div>

          <label for="input-birthDate">Hire Date</label>
          <div class="ui-g-12 ui-md-4">
              <p-calendar [(ng-model)]="hireDate" [minDate]="minDate" formControlName="hireDate" readonlyInput="true"> </p-calendar>
          </div>  -->

          <!-- <label>Birth Date</label>
          <p-calendar id="input-birthDate" formControlName="birthDate" [(ngModel)]="selectEmployee.birthDate"  placeholder="Birth Date" [minDate]="minDate" [maxDate]="maxDate"></p-calendar>

          <label>Hire Date</label>
          <p-calendar id="input-hireDate" formControlName="hireDate" [(ngModel)]="selectEmployee.hireDate"  placeholder="Hire Date" [minDate]="minDate" [maxDate]="maxDate"></p-calendar> -->

          <label>Birth Date</label>
          <p-calendar formControlName="birthDate"
          placeholder="Enter Birth Date" [(ngModel)]= "birthDate" formControlName="birthDate"  readonlyInput="true"></p-calendar>
        
          <label>Hire Date</label>
          <p-calendar formControlName="hireDate"
          placeholder="Enter Hire Date" [(ngModel)]= "hireDate"  formControlName="hireDate" readonlyInput="true"></p-calendar>


          <label>Address</label>
          <input pInputText id="input-address" formControlName="address" placeholder="Enter Address" [(ngModel)]="selectEmployee.address">
          
          <br/>

          <label>City</label>
          <input pInputText id="input-city" formControlName="city" placeholder="Enter City" [(ngModel)]="selectEmployee.city">
      
          <br/>

          <label>Region</label>
          <input pInputText id="input-region" formControlName="region" placeholder="Enter Region" [(ngModel)]="selectEmployee.region">
      
  
          <br/>

          <label>Postal Code</label>
          <input pInputText id="input-postalCode" formControlName="postalCode" placeholder="Enter Postal Code" [(ngModel)]="selectEmployee.postalCode">
      
  
          <br/>

          <label>Country</label>
          <input pInputText id="input-country" formControlName="country" placeholder="Enter Country" [(ngModel)]="selectEmployee.country">
      
  
          <br/>

          <label>Home Phone</label>
          <input pInputText id="input-homePhone" formControlName="homePhone" placeholder="Enter Home Phone" [(ngModel)]="selectEmployee.homePhone">
      
  
          <br/>

          <label>Extension</label>
          <input pInputText id="input-extension" formControlName="extension" placeholder="Enter Extension" [(ngModel)]="selectEmployee.extension">
      
  
          <br/>

          <label>Photo</label>
          <input pInputText id="input-photo" formControlName="photo" placeholder="Enter Photo" [(ngModel)]="selectEmployee.photo">
      
  
          <br/>

          <label>Notes</label>
          <input pInputText id="input-notes" formControlName="notes" placeholder="Enter Notes" [(ngModel)]="selectEmployee.notes">
      
  
          <br/>

          <label>Report To</label>
          <input pInputText id="input-reportsTo" formControlName="reportsTo" placeholder="Enter Reports To" [(ngModel)]="selectEmployee.reportsTo">
      
  
          <br/>

         
  
          <button pButton type="button" icon="fa fa-trash" label="Delete" (click)="okDelete()" *ngIf="isDeleteEmployee == true"></button>
          <button pButton type="button" icon="fa fa-file" label="Save" (click)="saveEmployee()" *ngIf="isDeleteEmployee == false" [disabled]="!employeeForm.valid"></button>
          <button pButton type="button" icon="fa fa-ban" label="Cancel" (click)="cancelEmployee()"></button>
      </div>

     

  </p-dialog>
  

  
</form>