@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.centerButtons {
    text-align: center !important;
}

.addHeader {
    float: left !important;
}

.searchHeader {
    text-align: right !important;
}
